/* Animation
--------------------------------------------- */
.blog[class*=blog-list-load-animation] .site-content .site-main article.animate, 
.post-type-archive-portfolio[class*=pf-list-load-animation] .site-content .site-main article.animate { 
	transition-delay: 0ms; 
}

.blog[class*="blog-list-load-animation"] .site-content article.animated,
.post-type-archive-portfolio[class*="pf-list-load-animation"] .site-content article.animated {
	opacity: 1;
	transform: translate3d(0,0,0) scale(1);
}

/* Fade In */
.blog.blog-list-load-animation-fade-in,
.blog.blog-list-load-animation-fade-in-move-up,
.blog.blog-list-load-animation-fade-in-move-down,
.blog.blog-list-load-animation-fade-in-move-left,
.blog.blog-list-load-animation-fade-in-move-right,
.blog.blog-list-load-animation-fade-in-zoom-in,
.blog.blog-list-load-animation-fade-in-zoom-out,
.post-type-archive-portfolio.pf-list-load-animation-fade-in,
.post-type-archive-portfolio.pf-list-load-animation-fade-in-move-up,
.post-type-archive-portfolio.pf-list-load-animation-fade-in-move-down,
.post-type-archive-portfolio.pf-list-load-animation-fade-in-move-left,
.post-type-archive-portfolio.pf-list-load-animation-fade-in-move-right,
.post-type-archive-portfolio.pf-list-load-animation-fade-in-zoom-in,
.post-type-archive-portfolio.pf-list-load-animation-fade-in-zoom-out {
	article {
		opacity: 0;
	}
}

/* Move, Move & Fade */
.blog.blog-list-load-animation-move-down,
.blog.blog-list-load-animation-fade-in-move-down,
.post-type-archive-portfolio.pf-list-load-animation-move-down,
.post-type-archive-portfolio.pf-list-load-animation-fade-in-move-down {
	article {
		transform: translate3d(0,-30%,0);
	}
}

.blog.blog-list-load-animation-move-up,
.blog.blog-list-load-animation-fade-in-move-up,
.post-type-archive-portfolio.pf-list-load-animation-move-up,
.post-type-archive-portfolio.pf-list-load-animation-fade-in-move-up {
	article {
		transform: translate3d(0,30px,0);
	}
}

.blog.blog-list-load-animation-move-left,
.blog.blog-list-load-animation-fade-in-move-left,
.post-type-archive-portfolio.pf-list-load-animation-move-left,
.post-type-archive-portfolio.pf-list-load-animation-fade-in-move-left {
	article {
		transform: translate3d(30%,0,0);
	}
}

.blog.blog-list-load-animation-move-right,
.blog.blog-list-load-animation-fade-in-move-right,
.post-type-archive-portfolio.pf-list-load-animation-move-right,
.post-type-archive-portfolio.pf-list-load-animation-fade-in-move-right {
	article {
		transform: translate3d(-30%,0,0);
	}
}

/* Zoom in */
.blog.blog-list-load-animation-zoom-in,
.blog.blog-list-load-animation-fade-in-zoom-in,
.post-type-archive-portfolio.pf-list-load-animation-zoom-in,
.post-type-archive-portfolio.pf-list-load-animation-fade-in-zoom-in {
	article {
		transform: scale(.7);
	}
}

.blog.blog-list-load-animation-zoom-out,
.blog.blog-list-load-animation-fade-in-zoom-out,
.post-type-archive-portfolio.pf-list-load-animation-zoom-out,
.post-type-archive-portfolio.pf-list-load-animation-fade-in-zoom-out {
	article {
		transform: scale(1.3);
	}
}

