@use 'global';

/* Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body, button, input, select, optgroup, textarea {
	color: #404040;
	font-family: var(--body-font);
	font-size: 1rem;
	line-height: 1.5;
	outline: none;
}

body {
	font-weight: var(--body-font-weight);
	text-transform: var(--body-text-transform);
	font-style: var(--body-font-style);
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: var(--heading-font);
	font-weight: var(--heading-font-weight);
	font-style: var(--heading-font-style);
	padding: 0 0 0.2em 0;
	line-height: 1.2;
	margin: 0;
	text-transform: var(--heading-text-transform);
	letter-spacing: var(--heading-letter-spacing);
}

.bt_bb_headline .bt_bb_headline_tag {
	clear: both;
	font-family: var(--heading-font);
	font-weight: var(--heading-font-weight);
	font-style: var(--heading-font-style);
	padding: 0 0 0.2em 0;
	line-height: 1.2;
	margin: 0;
	text-transform: var(--heading-text-transform);
	letter-spacing: var(--heading-letter-spacing);
}

.bt_bb_headline .bt_bb_headline_superheadline {
	font-family: var(--supertitle-font);
	font-weight: var(--supertitle-font-weight);
	text-transform: var(--supertitle-text-transform);
	font-style: var(--supertitle-font-style);
	letter-spacing: var(--supertitle-letter-spacing);
}

.bt_bb_headline_subheadline {
	font-family: var(--subtitle-font);
	font-weight: var(--subtitle-font-weight);
	text-transform: var(--subtitle-text-transform);
	font-style: var(--subtitle-font-style);
	letter-spacing: var(--subtitle-letter-spacing);
}

h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.5em;
}	
h3 {
	font-size: 2em;
}
h4 {
	font-size: 1.75em;
}
h5 {
	font-size: 1.5em
}
h6 {
	font-size: 1.25em;
}


p {
	margin: 0 0 var(--default-bottom-margin) 0;
}

p:last-child {
	margin-bottom: 0;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	font-family: var(--heading-font);
	font-weight: var(--heading-font-weight);
	line-height: 1.5;
	display: block;
	position: relative;
	margin: 0;
	padding: 1em 0 0 3.5em;
	min-height: 5em;
	margin-bottom: var(--default-bottom-margin);
	&:before {
		content: "\f10d";
		font-family: FontAwesome6solid;
		display: block; 
		font-size: 5em;
		line-height: 1;
		position: absolute;
		top: 0;
		left: 3px;
		right: 0;
		color: inherit;
		opacity: .1;
	}
	&:after {
		content: "";
		display: table;
		width: 100%;
		clear: both;
	}
	p {
		margin-bottom: 0;
	}
}
cite {
	opacity: 0.6;
	font-style: normal;
}
address {
	margin: 0 0 var(--default-bottom-margin);
}
pre {
	overflow: hidden;
	margin: 0 0 var(--default-bottom-margin);
	white-space: pre-wrap;
	padding: 20px;
	border: 1px solid rgba(0,0,0,.1);
	code {
		display: block;
	}
}
code, kbd, tt, var {
	font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
big {
	font-size: 125%;
}

/* Elements
--------------------------------------------- */
body {
	/* moved to styles */
	overflow-x: hidden;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: var(--default-bottom-margin);
}
ul, ol {
	margin: 0 0 var(--default-bottom-margin) 1em;
	padding: 0;
	.rtl & {
		margin-left: 0;
		margin-right: 1em;
	}
}
ul {
	ul {
		margin-bottom: 0;
	}
}
ol {
	ol {
		margin-bottom: 0;
	}
}
li {
	margin: 0 0 0 .5em;
	padding: 0;
	.rtl & {
		margin: 0 .5em 0 0;
	}
}
li > ul, li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
	.rtl & {
		margin-left: 0;
		margin-right: 1.5em;
	}
}
dl {
	margin: 0 0 var(--default-bottom-margin);
}
dt {
	font-weight: 600;
}
dd {
	margin: 0 1.5em var(--default-bottom-margin);
	p {
		display: inline;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
figcaption {
	font-size: inherit;
}

/* Make sure embeds and iframes fit their containers. */
embed, iframe, object {
	max-width: 100%;
}
img {
	height: auto;
	max-width: 100%;
}
figure,
figure.wp-caption {
	margin-top: 0;
	margin-bottom: var(--default-bottom-margin);
	figcaption,
	figcaption.wp-caption-text {
		font-size: 0.9em;
		margin: 0.1em 0 0.5em 0px;	
	}
}
table {
	width: 100%;
	margin: 0 0 var(--default-bottom-margin) 0;
	border-collapse: collapse;
	text-align: initial;
	border: 1px solid var(--primary-07-color);
	td, th {
		padding: 1em;
		border: 1px solid var(--primary-07-color);
		font-weight: inherit;
	}
	th {
		text-align: left;
	}
}

/* Links
--------------------------------------------- */
a {
	text-decoration: none;
	color: inherit;
	transition: all 200ms ease;
	&:hover,
	&:focus,
	&:active {
		outline: none;
	}
	&:hover {
		text-decoration: none;
		color: var(--accent-color);
	}
	&:focus {
		outline: 2px solid var(--focus-color);
	}
	img {
		border: none;
	}
}
a[href^="tel:"] {
	color: inherit;
	text-decoration: none;
}

.screen-reader-text {
    clip: rect(1px,1px,1px,1px);
    word-wrap: normal!important;
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    overflow-wrap: normal!important;
    padding: 0;
    position: absolute!important;
    width: 1px;
	&:focus {
		clip: auto!important;
		background-color: #fff;
		border-radius: 3px;
		box-shadow:0 0 2px 2px rgba(0,0,0,.6);
		clip-path: none;
		color: #2b2d2f;
		display: block;
		font-size: 1rem;
		font-weight: 700;
		height: auto;
		left: 1em;
		top: 1em;
		line-height: normal;
		padding: 1em 1.5em 1em;
		text-decoration: none;
		width: auto;
		z-index: 100000;
	}
}


/* Forms
--------------------------------------------- */
select, textarea, input, .fancy-select .trigger {
	color: inherit;
	border: 1px solid var(--primary-07-color);
}


select, input  {
	font-family: var(--body-font);
}
input:not([type='checkbox']):not([type='radio']), button {
	-webkit-appearance: none;
}
input:not([type='submit']):not([type='checkbox']):not([type='radio']), textarea, select {
	font: inherit;
	line-height: 1;
	display: block;
	width: 100%;
	padding: 0.8em;
	outline: none;
	color: inherit;
	background: transparent;
	
	.btTextRight & {
		text-align: right;
	}
}

input[type='checkbox'], input[type='radio'] {
	vertical-align: middle;
}

select, .fancy-select .trigger, .btQuoteBooking .ddcommon.borderRadiusTp .ddTitleText {
	height: 3.2em; /* Keeps the same height os selec and input */
	line-height: 3.1em;
} 

textarea {
	width: 100%;
	resize: vertical;
	line-height: inherit;
}

input:not([type='checkbox']):not([type='radio']):not([type='submit']), textarea, .fancy-select .trigger {
	transition: all 500ms ease;
}
input:not([type='checkbox']):not([type='radio']):not([type='submit']):focus, textarea:focus, .fancy-select .trigger.open {
	box-shadow: 0 0 4px 0 var(--primary-07-color);
	border: 1px solid var(--primary-07-color);
}

button, .bt_bb_button, input[type='submit'], input[type="file"]::file-selector-button {
	font-family: var(--button-font);
	text-transform: var(--button-text-transform);
	font-weight: var(--button-font-weight);
	font-style: var(--button-font-style);
	cursor: pointer;
	letter-spacing: var(--button-letter-spacing);
}

input:not([type='checkbox']):not([type='radio']), a.select2-choice, textarea, select, button, .bt_bb_button a.bt_bb_link, input[type="file"]::file-selector-button {
	/* Shapes */
	.button-shape-rounded & { border-radius: var(--soft-rounded); }
	.button-shape-round & { border-radius: var(--hard-rounded); }
}
textarea {
	.button-shape-round & { border-radius: var(--hard-rounded-field); }
}

input[type='submit'],
button[type='submit'],
input[type="file"]::file-selector-button {
	font-size: 1em;
	font-family: var(--button-font);
	font-weight: var(--button-font-weight);
	line-height: 1;
	display: block;
	padding: 0.8em 1.5em;
	width: auto;
	border: none;
	outline: none;
	color: var(--button-primary-color, var(--light-color));
	box-shadow: 0 0 0 3em var(--button-secondary-color, var(--accent-color)) inset;
	background: transparent;
	cursor: pointer;
	transition: all 300ms ease;

	/* Styles */
	.button-style-outline & {
		color: var(--button-primary-color, var(--accent-color));
		background: transparent;
		box-shadow: 0 0 0 2px var(--button-primary-color, var(--accent-color)) inset;
	}
	.button-style-clean & {
		padding-left: 0;
		padding-right: 0;
		border-radius: 0 !important;
		color: var(--button-primary-color, var(--accent-color));
		background: transparent;
		box-shadow: none;
	}

	/* Hovers */
	&:hover {
		color: var(--button-secondary-color, var(--accent-color));
		box-shadow: 0 0 0 2px var(--button-secondary-color, var(--accent-color)) inset;
		.button-style-outline & {
			color: var(--button-secondary-color, var(--light-color));
			box-shadow: 0 0 0 3em var(--button-primary-color, var(--accent-color)) inset;
		}
		.button-style-clean & {
			background: transparent;
			color: var(--button-secondary-color, var(--accent-color));
			box-shadow: none;
		}
	}
}
.btQuoteBooking .btContactNext {
	color: var(--button-primary-color, var(--light-color));
}
input[type="file"]::file-selector-button {
	font-size: .75em;
	display: inline-flex;
	padding: 1em 2em !important;
	margin-right: 1em;
	.rtl & {
		margin-right: auto;
		margin-left: 1em;
	}
}

input[type='search']::-webkit-search-cancel-button {
	display: none;
}

/* Notifications */
.boldthemes-notification {
	display: block;
	position: fixed;
	bottom: -4em;
	right: 1em;
	color: white;
	background: #bb0000;
	box-shadow: 0 0 1rem #666;
	border-radius: 5px;
	transition: bottom 300ms ease-out;
	z-index: 9999;
	&.boldthemes-notification-show {
		display: block;
		bottom: 1em;
	}
	span {
		margin: 1em;
		display: block;
		float: left;
		line-height: 1;
	}
	.boldthemes-notification-close {
		display: block;
		width: 1rem;
		height: 1rem;
		margin: 1em;
		float: left;
		background-size: contain;
		cursor: pointer;
		background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iNTEycHgiIGlkPSJMYXllcl8xIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyOyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgd2lkdGg9IjUxMnB4IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cGF0aCBkPSJNNDQzLjYsMzg3LjFMMzEyLjQsMjU1LjRsMTMxLjUtMTMwYzUuNC01LjQsNS40LTE0LjIsMC0xOS42bC0zNy40LTM3LjZjLTIuNi0yLjYtNi4xLTQtOS44LTRjLTMuNywwLTcuMiwxLjUtOS44LDQgIEwyNTYsMTk3LjhMMTI0LjksNjguM2MtMi42LTIuNi02LjEtNC05LjgtNGMtMy43LDAtNy4yLDEuNS05LjgsNEw2OCwxMDUuOWMtNS40LDUuNC01LjQsMTQuMiwwLDE5LjZsMTMxLjUsMTMwTDY4LjQsMzg3LjEgIGMtMi42LDIuNi00LjEsNi4xLTQuMSw5LjhjMCwzLjcsMS40LDcuMiw0LjEsOS44bDM3LjQsMzcuNmMyLjcsMi43LDYuMiw0LjEsOS44LDQuMWMzLjUsMCw3LjEtMS4zLDkuOC00LjFMMjU2LDMxMy4xbDEzMC43LDEzMS4xICBjMi43LDIuNyw2LjIsNC4xLDkuOCw0LjFjMy41LDAsNy4xLTEuMyw5LjgtNC4xbDM3LjQtMzcuNmMyLjYtMi42LDQuMS02LjEsNC4xLTkuOEM0NDcuNywzOTMuMiw0NDYuMiwzODkuNyw0NDMuNiwzODcuMXoiLz48L3N2Zz4=');
	}
}

/* Sections, bottom image gap fix */

.bt_bb_section .bt_bb_section_top_section_coverage_image, 
.bt_bb_section .bt_bb_section_bottom_section_coverage_image {
	background-color: #55555501;
}

/* Sections & footer accessibility fix */

/*
.bt_bb_section, .site-footer {
  content-visibility: auto;
  contain-intrinsic-size: auto 500px;
}
*/
