/* Grid fix 
------------------------------------------------------------------ */
@each $i in 600, 700, 800, 900, 1000, 1100, 1200, 1400 {
	.bt_bb_layout_boxed_#{$i} .bt_bb_cell {
		max-width: calc(100% - var(--content-padding) * 2);
	}
}

