/* Footer
--------------------------------------------- */
.site-footer-widgets {
	margin-left: auto;
	margin-right: auto;
	.widget-area {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding-top: var(--footer-widgets-top-padding);
		padding-bottom: var(--footer-widgets-bottom-padding);
		padding-left: var(--content-padding);
		padding-right: var(--content-padding);
		.widget-area-inner {
			width: calc(100% + 2*var(--footer-widgets-gap));
			display: flex;
			margin-left: calc(-1 * var(--footer-widgets-gap));
			margin-right: calc(-1 * var(--footer-widgets-gap));
			.footer-widget, .sidebar-box, .btBox {
				flex-basis: auto;
				width: 100%;
				padding-left: var(--footer-widgets-gap);
				padding-right: var(--footer-widgets-gap);
			}
		}

	}
}

$widget-number: 2, 3, 4, 5, 6, 7, 8, 9, 10;
@each $footer-widgets in $widget-number {
	.site-footer-widgets .widget-area .widget-area-inner {
		flex-wrap: wrap;
		&:has(.footer-widget:first-child:nth-last-child(#{$footer-widgets})),
		&:has(.footer-widget:first-child:nth-last-child(#{$footer-widgets}) ~ .footer-widget) {
			.footer-widget {
				flex-basis: calc(100% / #{$footer-widgets});
				width: calc(100% / #{$footer-widgets});
			}
		}
	}
}

$widget-number: 2, 3, 4, 5, 6, 7, 8, 9, 10;
@media (max-width: 1200px) {
	@each $footer-widgets in $widget-number {
		.site-footer-widgets .widget-area .widget-area-inner {
			flex-wrap: wrap;
			&:has(.footer-widget:first-child:nth-last-child(#{$footer-widgets})),
			&:has(.footer-widget:first-child:nth-last-child(#{$footer-widgets}) ~ .footer-widget) {
				.footer-widget {
					flex-basis: 50%;
					width: 50%;
					margin-bottom: var(--footer-widgets-gap);
				}
			}
		}
	}
}

$widget-number: 2, 3, 4;
@media (max-width: 992px) {
	@each $footer-widgets in $widget-number {
		.site-footer-widgets .widget-area .widget-area-inner {
			flex-wrap: wrap;
			&:has(.footer-widget:first-child:nth-last-child(#{$footer-widgets})),
			&:has(.footer-widget:first-child:nth-last-child(#{$footer-widgets}) ~ .footer-widget) {
				.footer-widget {
					flex-basis: 50% !important;
					width: 50% !important;
					margin-bottom: var(--footer-widgets-gap);
				}
			}
		}
	}
}

$widget-number: 2, 3, 4;
@media (max-width: 768px) {
	@each $footer-widgets in $widget-number {
		.site-footer-widgets .widget-area .widget-area-inner {
			flex-wrap: wrap;
			&:has(.footer-widget:first-child:nth-last-child(#{$footer-widgets})),
			&:has(.footer-widget:first-child:nth-last-child(#{$footer-widgets}) ~ .footer-widget) {
				.footer-widget {
					flex-basis: 100% !important;
					width: 100% !important;
					padding-bottom:	var(--footer-widgets-bottom-padding);
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.site-footer-widgets .widget-area .widget-area-inner {
		display: block;
		.footer-widget:not(:last-child) {
			padding-bottom:	var(--footer-widgets-bottom-padding);
			width: 100% !important;
		}
	}
}

$footer-width: 1200, 1400, 1600, 1800;

@each $width in $footer-width {
	/* Footer widgets width / wide */
	.footer-width-wide-boxed-#{$width} {
		.site-footer-widgets .widget-area {
			max-width: calc(#{$width}px + var(--content-padding)*2);
		}		
	}
	/* Footer widgets width / boxed */
	.footer-width-boxed-boxed-#{$width} {
		.site-footer-widgets {
			width: 100%;
			max-width: calc(#{$width}px + var(--content-padding)*2);		
		}
	}
}

