/* SCSS Global 
--------------------------------- */

$center-alignment: ".bt_bb_align_center &, &.bt_bb_align_center, .bt_bb_align_left &.bt_bb_align_center, .bt_bb_align_left .bt_bb_align_center &, .bt_bb_align_right &.bt_bb_align_center, .bt_bb_align_right .bt_bb_align_center &";

$left-alignment: ".bt_bb_align_left &, &.bt_bb_align_left, .bt_bb_align_right &.bt_bb_align_left, .bt_bb_align_right .bt_bb_align_left &, .bt_bb_align_center &.bt_bb_align_left, .bt_bb_align_center .bt_bb_align_left &,";

$right-alignment: ".bt_bb_align_right &, &.bt_bb_align_right, .bt_bb_align_left &.bt_bb_align_right, .bt_bb_align_left .bt_bb_align_right &, .bt_bb_align_center &.bt_bb_align_right, .bt_bb_align_center .bt_bb_align_right &";


