/* Gutenberg 
------------------------------------------------ */
.wp-block-separator {
	margin: 1em auto;
	max-width: 100px;
	border: none;
	opacity: 1;
	border-bottom: 1px solid #8f98a1;
	background-color: transparent;
	&.is-style-wide {
		max-width: 100%;
		border: none;
		border-bottom: 1px solid #8f98a1;
	}
	&.is-style-dots {
		background: 0 0;
		border: none !important;
		text-align: center;
		max-width: none !important;
		line-height: 1;
		height: auto;
		&:before {
			content: "\00b7 \00b7 \00b7";
			color: #191e23;
			font-size: 20px;
			letter-spacing: 2em;
			padding-left: 2em;
			font-family: serif;
		}
	}
}

/* Gallery */
.wp-block-gallery {
	margin: 0;
	li:first-child {
		margin-left: 0; 
	}
	&.alignleft {
		float: left;
	}
	figcaption {
		flex-grow: 1;
		flex-basis: 100%;
		text-align: center;
	}
}

/* Paragraph */
p.has-drop-cap:not(:focus)::first-letter {
	float: left;
	font-size: 5em;
	line-height: 0.9;
	font-weight: 800;
}
.has-large-font-size {
	line-height: 1 !important;
}
.wp-block-quote {
	p {
		font-size: 1em;
	}
	&.is-large, &.is-style-large {
		p {
			font-size: 1.3em;
			line-height: 1.2;
		}
		cite {
			text-align: center;
		}
	}
}
p.has-background {
	border-radius: none;
	.button-shape-rounded & { border-radius: var(--soft-rounded); }
	.button-shape-round & { border-radius: var(--hard-rounded); }
}


/* Button */
.wp-block-file .wp-block-file__button {
	border-radius: none;
	font-size: 0.9em;
	font-weight: 500;
	padding: 0.8em 2.2em;
	.button-shape-rounded & { border-radius: var(--soft-rounded); }
	.button-shape-round & { border-radius: var(--hard-rounded); }
}
.wp-block-file .wp-block-file__button {
	color: var(--light-color) !important;
	&:hover {
		opacity: 0.8;
	}
}
.wp-block-button {
	margin-bottom: 0.5em;
	.wp-block-button__link {
		font-size: 0.9em;
		font-weight: 500;
		padding: 0.8em 2.2em;
		color: var(--light-color) !important;
		&:hover {
			opacity: 0.8;
		}
	}
	&.is-style-outline {
		.wp-block-button__link {
			text-align: center;
			color: var(--dark-color) !important;
		}
	}
	&.is-style-squared .wp-block-button__link {
		border-radius: 0 !important;
	}
	&.alignleft {
		float: left;
	}
	&.alignright {
		float: right;
	}
	&.aligncenter {
		text-align: center;
	}
}


/* Cover */
.wp-block-image .aligncenter>figcaption,
.wp-block-image .alignleft>figcaption,
.wp-block-image .alignright>figcaption,
.wp-block-image.is-resized>figcaption {
	display: block;
}
.wp-block-cover p:not(.has-text-color) {
	color: var(--light-color);
}
.wp-block-cover, .wp-block-cover-image {
	margin: 0 0 1.5em;
	display: flex !important;
	&.alignleft {
		float: left;
	}
	&.alignright {
		float: right;
	}
	a {
		color: var(--light-color) !important;
		&:hover {
			opacity: 0.8;
		}
	}
}
.wp-block-cover-image .wp-block-cover-image-text, 
.wp-block-cover .wp-block-cover-text, section.wp-block-cover-image > h2 {
	color: var(--light-color) !important;
	padding: 1em;
}


/* Quote */
figure.wp-caption.alignright .wp-caption-text {
	text-align: right;
}
.wp-block-pullquote {
	padding: 1.625em 0;
	font-size: 1rem;
	blockquote {
		font-size: 1.25rem;
		&:before {
			right: 0;
		}
	}
	p {
		font-size: 1.25rem;
		font-family: var(--heading-font);
	}
}
.wp-block-pullquote {
	text-align: left;
}
.wp-block-quote.has-text-align-center {
	&:before {
		margin-right: auto;
		margin-left: auto;
	}
}
.wp-block-quote.is-large, .wp-block-quote.is-style-large {
	padding: 0;
}
.wp-block-image .aligncenter>figcaption,
.wp-block-image .alignleft>figcaption,
.wp-block-image .alignright>figcaption,
.wp-block-image.is-resized>figcaption {
	display: block;
}
.alignnone {
	blockquote {
		&:before {
			right: 0 !important;
		}
	}
}

/* Table */
.wp-block-table.aligncenter table {
	margin: 0 auto;
	width: auto;
}
.wp-block-quote {
	&.has-text-align-right {
		&:before {
			margin-right: 0;
			margin-left: auto;
		}
	}
}

/* Page with images - Unit test */
.site-content > p:last-of-type > img,
.site-content > p:last-child > img {
	clear: both;
}
.site-content .site-main article .entry-content .entry-content-inner p:last-child {
	img {
		clear: both;
	}
}

/* Tag widget */
.site-content .wp-block-tag-cloud {
	a {
		font-size: 0.8125em !important;
		box-shadow: 0 .125em 0 0 transparent;
		opacity: 1;
		font-family: var(--body-font);
		line-height: 1;
		font-weight: 500;
		text-transform: uppercase;
		display: block;
		float: left;
		padding: 0;
		margin: 0 0.8em 0.8em 0;
		color: inherit;
		transition: all 300ms ease;
		&:before {
			content: var(--post-tags-icon);
			font-family: var(--post-tags-icon-font);
			color: var(--accent-color);
			padding-right: 0.5em;
			.rtl & {
				padding-left: 0.5em;
				padding-right: 0;
				float: right;
			}
		}
	}
}

/* Alignment */
.site-content {
	.wp-block-cover.alignleft, .wp-block-cover-image.alignleft, .alignleft {
		text-align: left;
		margin-right: 2em;
	}
	img.alignleft, figure.alignleft  {
		display: block;
		float: left;
	}
	.wp-block-cover.alignright, .wp-block-cover-image.alignright, .alignright {
		text-align: right;
		margin-left: 2em;
	}
	img.alignright, figure.alignright  {
		display: block;
		float: right;
	}
	.alignnone {
		width: auto !important;
		text-align: left;
		margin-left: auto;
		margin-right: auto;
	}
	.aligncenter {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	img.aligncenter, figure.aligncenter, .aligncenter {
		display: block;
	}
	figure {
		margin-bottom: 2em;
		&.aligncenter {
			width: 100%;
			margin-top: 2em;
		}
	}
	.wp-block-gallery:not(.has-nested-images) {
		margin-bottom: 2em;
	}
	.wp-block-image .alignright>figcaption, .wp-block-image.is-resized>figcaption {
		display: block;
	}
}
