/* Header 
--------------------------------------------- */
.site-header {
	.site-header-top-bar-inner,
	.site-branding-inner,
	.main-navigation-inner {
		padding-left: var(--content-padding);
		padding-right: var(--content-padding);
		width: 100%;
	}
	opacity: 1;
	.header-position-hidden & {
		display: none;
	}
}
body:not(.bt-header-responsive-inactive):not(.bt-header-responsive-active) .site-header {
	opacity: 0; /* Before init */
}

/* Site branding 
--------------------------------------------- */
.site-branding {
	.site-branding-text {
		p {
			margin: 0;
			a {
				color: inherit;
				text-decoration: none;
			}
		}
		.site-title {
			font-weight: bold;
			font-size: clamp(1.25em,calc(var(--logo-height)*.25),1.75em);
			font-family: var(--heading-font);
			font-style: var(--heading-font-style);
			padding: 0;
			line-height: 1.2;
			text-transform: var(--heading-text-transform);
			.bt-sticky-header-active.bt-sticky-header & {
				font-size: clamp(1.125em,calc(var(--sticky-logo-height)*.25),1.75em);
			}
		}
		.site-description {
			font-size: .85em;
		}
	}
	.site-branding-widgets {
		font-family: var(--menu-font);
	}
}
.site-header-responsive-branding-text {
	p {
		margin: 0;
		a {
			color: inherit;
			text-decoration: none;
		}
	}
	.site-title {
		font-weight: bold;
		font-size: clamp(1.25em,calc(var(--responsive-logo-height)*.25),1.5em);
		font-family: var(--heading-font);
		font-style: var(--heading-font-style);
		padding: 0;
		line-height: 1.2;
		text-transform: var(--heading-text-transform);
		.bt-sticky-header-active.bt-sticky-header & {
			font-size: clamp(1.125em,calc(var(--responsive-sticky-logo-height)*.25),1.5em);
		}
	}
	.site-description {
		font-size: .85em;
	}
}

/* Site branding hide 
--------------------------------------------- */
.display-branding-text-, .display-branding-text-0, .display-branding-text-false {
	.site-header .site-branding {
		.site-branding-inner {
			.site-branding-logo-text {
				.site-branding-text {
					display: none;
				}
			}
		}
	}
}

/* Logo center special case
--------------------------------------------- */
.primary-menu-position-logo-center.bt-header-responsive-inactive .site-header {
	.menu-primary-menu-container {
		display: grid;
		grid-template-columns: 1fr max-content 1fr;
		align-items: center;
	}
	.site-branding .site-branding-inner .site-branding-logo-text {
		display: none;
		&.cloned-site-branding {
			display: block;
			text-align: center;
			padding-right: 0;
			.site-branding-text {
				margin: .5em 0 !important;
			}
		}
	}
	nav {
		.main-navigation-menu.right-nav {
			padding-left: var(--desktop-menu-gap);
		}
		.main-navigation-menu.left-nav {
			justify-content: flex-end;
		}
	}
	.site-branding-widgets {
		position: absolute;
		right: 0;
		opacity: 0.5;
	}
}
.primary-menu-position-logo-center.bt-header-responsive-inactive.bt-sticky-header-active .site-header {
	.site-branding .site-branding-inner .site-branding-logo-text {
		&.cloned-site-branding {
			.site-branding-logo {
				img {
					margin-left: auto;
					margin-right: auto;
				}
			}
			.site-branding-logo + .site-branding-text {
				opacity: 0;
				height: 0;
				margin: 0 !important;
			}
		}
	}
}
.primary-menu-position-logo-center.bt-header-responsive-inactive.bt-sticky-header.bt-sticky-header-active.bt-sticky-header-active-closed.bt-sticky-header-active-open.sticky-style-shrink .site-header {
	.site-branding .site-branding-inner .site-branding-logo-text {
		&.cloned-site-branding {
			.site-branding-logo + .site-branding-text {
				opacity: 1;
				height: auto;
				margin: .5em 0 !important;
			}
		}
	}
}

/* Main menu typography
--------------------------------------------- */
.main-navigation {
	ul.main-navigation-menu {
		font-family: var(--menu-font);
		font-size: var(--menu-font-size);
		> li li > a {
			font-weight: var(--menu-other-levels-font-weight);
			text-transform: var(--menu-other-levels-text-transform);
		}
		> li > a {
			font-weight: var(--menu-first-level-font-weight);
			text-transform: var(--menu-first-level-text-transform);
		}
		ul.sub-menu {
			opacity: 0;
		}
	}
}

/* Subtoggler
--------------------------------------------- */
.sub-toggler {
	cursor: pointer;
	justify-content: center;
	transition: 200ms ease all;
	color: inherit;
	width: var(--subtoggler-size);
	height: var(--subtoggler-size);
	border: .65rem solid transparent;
	align-items: center;
	justify-content: flex-end;
	position: absolute;
	opacity: .4;
	right: 0;
	z-index: 5;
	box-sizing: content-box;
	.bt-header-responsive-active & {
		border-width: .85em;
	}
	.rtl & {
		right: auto;
		left: 0;
	}
	.no-touch .bt-header-responsive-inactive & {
		display: none;
	}
	.touch & {
		display: flex;
	}
	&:before {
		content: "";
		border-bottom: var(--subtoggler-thickness) solid currentColor;
		border-right: var(--subtoggler-thickness) solid currentColor;
		position: absolute;
		width: calc(var(--subtoggler-size) * .6);
		height: calc(var(--subtoggler-size) * .6);
		transform: rotate(45deg);
		transform-origin: 50% 50%;
		.rtl & {
			transform: rotate(45deg);
		}
	}
	li.on > & {
		transform: scaleY(-1) translateY(-2%);
		opacity: 1;
	}
	ul.main-navigation-menu > li > & {
		.bt-header-responsive-inactive & {
			top: 0;
			bottom: 0;
			height: auto;
			right: calc((var(--subtoggler-size) + .65rem*2) * -1);
		}
		.bt-header-responsive-inactive.rtl & {
			right: auto;
			left: calc((var(--subtoggler-size) + .65rem*2) * -1);
		}
	}
	ul ul & {
		.bt-header-responsive-inactive & {
			top: .25em;
			right: calc(var(--submenu-side-padding) - .65rem);
		}
		.rtl.bt-header-responsive-inactive & {
			right: auto;
			left: calc(var(--submenu-side-padding) - .65rem);
		}
	}
	.bt-header-responsive-active & {
		top: calc(var(--responsive-menu-items-padding) - 0.65rem/2);
		line-height: 1;
	}
}

