/* Layout
--------------------------------------------- */

/* Admin bar fix */
.admin-bar.bt-sticky-header-active .site-header, 
.admin-bar.bt-sticky-header.sticky-style-shrink .site-header, 
.admin-bar.bt-sticky-header-active .site-header-responsive,
.admin-bar.bt-sticky-header.sticky-style-shrink .site-header-responsive,
.admin-bar.bt-header-responsive-active .site-header {
	top: 32px !important;
}

@media screen and (max-width: 782px) {
	.admin-bar.bt-sticky-header-active .site-header, 
	.admin-bar.bt-sticky-header.sticky-style-shrink .site-header, 
	.admin-bar.bt-sticky-header-active .site-header-responsive,
	.admin-bar.bt-sticky-header.sticky-style-shrink .site-header-responsive,
	.admin-bar.bt-header-responsive-active .site-header {
		top: 46px !important;
	}
}

@media screen and (max-width: 600px) {
	.admin-bar.bt-sticky-header-active-open .site-header-responsive,
	.admin-bar.bt-header-responsive-active.bt-sticky-header-active-open .site-header {
		top: 0 !important;
	}
	.admin-bar.bt-sticky-header-inactive.admin-bar.bt-sticky-header-active .site-header-responsive {
		top: -46px !important;
	}
	.admin-bar.bt-sticky-header-inactive.admin-bar.bt-sticky-header-active.sticky-style-shrink .site-header-responsive {
		top: 46px !important;
	}
	
	/* This only enables wp admin bar when we use sticky header and fix and shrink option in screen sizes below 600px - DO NOT REMOVE */
	.admin-bar.bt-sticky-header.sticky-style-shrink #wpadminbar {
		position: fixed;
	}
}

/* Site content and sidebar  */
.site {
	margin: var(--page-vertical-margin) var(--page-horizontal-margin);
	width: 100%;
    position: relative;
	&:before {
		content: " ";
		display: table;
	}
}

.site-content {
	display: flex;
	gap: var(--sidebar-gap);
	.site-main {
		flex: 1 1 calc(100% - var(--sidebar-width));
		max-width: calc(100% - var(--sidebar-width));
		order: 1;
		article.type-page {
			overflow: hidden;
		}
		.sidebar-position-none &, .sidebar-position-no &, &:only-child {
			flex: 0 1 100%;
			max-width: 100%;
		}
	}
	.widget-area {
		flex: 0 1 var(--sidebar-width);
		max-width: var(--sidebar-width);
		order: 2;
		.sidebar-position-left & {
			order: 0;
		}
		.content-width-wide.sidebar-position-left & .widget-area-inner {
			padding-left: var(--content-padding);
		}
		.sidebar-position-right & {
			order: 2;
		}
		.content-width-wide.sidebar-position-right & .widget-area-inner {
			padding-right: var(--content-padding);
		}

		.sidebar-position-none &, .sidebar-position-no & {
			display: none;
		}
		/* Regular sticky sidebar */
		.sidebar-sticky-1 &,
		.sidebar-sticky-true & {
			position: relative;
			.widget-area-inner {
				position: sticky;
				top: var(--sidebar-sticky-top-position);
			}
		}
		.sidebar-sticky-1.bt-sticky-header-active &,
		.sidebar-sticky-true.bt-sticky-header-active & {
			.widget-area-inner {
				top: calc(var(--sticky-logo-height) + var(--sidebar-sticky-top-position));
			}
		}
		/* Sticky sidebar with admin bar */
		.admin-bar.sidebar-sticky-1 &,
		.admin-bar.sidebar-sticky-true & {
			.widget-area-inner {
				top: calc(var(--sidebar-sticky-top-position) + 32px);
			}
		}
		.admin-bar.sidebar-sticky-1.bt-sticky-header-active &,
		.admin-bar.sidebar-sticky-true.bt-sticky-header-active & {
			.widget-area-inner {
				top: calc(var(--sticky-logo-height) + var(--sidebar-sticky-top-position) + 32px);
			}
		}
	}
}

/* Sticky sidebar with admin bar in lower resolutions */
@media screen and (max-width: 782px) {
	.admin-bar.sidebar-sticky-1,
	.admin-bar.sidebar-sticky-true  {
		.site-content .widget-area .widget-area-inner {
			top: calc(var(--sidebar-sticky-top-position) + 46px);
		}
	}
	.admin-bar.sidebar-sticky-1.bt-sticky-header-active,
	.admin-bar.sidebar-sticky-true.bt-sticky-header-active {
		.site-content .widget-area .widget-area-inner {
			top: calc(var(--sticky-logo-height) + var(--sidebar-sticky-top-position) + 46px);
		}
	}
}
@media screen and (max-width: 600px) {
	.admin-bar.sidebar-sticky-1,
	.admin-bar.sidebar-sticky-true {
		.site-content .widget-area .widget-area-inner {
			top: var(--sidebar-sticky-top-position);
		}
	}
	.admin-bar.sidebar-sticky-1.bt-sticky-header-active,
	.admin-bar.sidebar-sticky-true.bt-sticky-header-active {
		.site-content .widget-area .widget-area-inner {
			top: var(--sidebar-sticky-top-position);
		}
	}
}

.bt-sidebar-responsive-active {
	.site-content {
		display: block;
		.site-main {
			display: block;
			max-width: 100%;
		}
		.widget-area {
			padding-top: var(--sidebar-gap);
			display: block;
			max-width: 100%;
		}
	}
}

/* Default headline  */
.page-header {
	color: white;
	padding-top: 1em;
	padding-bottom: 1em;
	overflow: hidden;
	position: relative;
	background-position: center;
	.page-header-inner {
		padding-left: var(--content-padding);
		padding-right: var(--content-padding);	
		display: flex;
		flex-direction: column;
	}
	.post-thumbnail {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
	.page-title {
		margin: 0;
		padding: 0;
		-ms-word-wrap: break-word;
		word-wrap: break-word;
		order: 2;
	}
	p.page-title {
		font-family: var(--heading-font);
		font-weight: var(--heading-font-weight);
		font-style: var(--heading-font-style);
		line-height: 1.2;
		text-transform: var(--heading-text-transform);
	}
	.default-headline-height-none & {
		display: none;
	}
	.default-headline-height-thin & {
		padding-top: var(--page-header-thin-top);
		padding-bottom: var(--page-header-thin-bottom);
	}
	.default-headline-height-regular & {
		padding-top: var(--page-header-regular-top);
		padding-bottom: var(--page-header-regular-bottom);
	}
	.default-headline-height-thick & {
		padding-top: var(--page-header-thick-top);
		padding-bottom: var(--page-header-thick-bottom);
	}
	.default-headline-height-fullscreen & {
		height: 100vh;
		display: flex;
		align-items: center;
	}
	.default-headline-width-boxed-boxed-1800.content-width-boxed-1200 &,
	.default-headline-width-boxed-boxed-1600.content-width-boxed-1200 &,
	.default-headline-width-boxed-boxed-1400.content-width-boxed-1200 & {
		.page-header-inner {
			max-width: calc(1200px + 2*var(--content-padding));
			margin-left: auto;
			margin-right: auto;
		}
	}
	.default-headline-width-boxed-boxed-1800.content-width-boxed-1400 &,
	.default-headline-width-boxed-boxed-1600.content-width-boxed-1400 & {
		.page-header-inner {
			max-width: calc(1400px + 2*var(--content-padding));
			margin-left: auto;
			margin-right: auto;
		}
	}
	.default-headline-width-boxed-boxed-1800.content-width-boxed-1600 & {
		.page-header-inner {
			max-width: calc(1600px + 2*var(--content-padding));
			margin-left: auto;
			margin-right: auto;
		}
	}
	.entry-super-meta {
		margin-bottom: var(--post-meta-margin);
		order: 1;
		.share-options {
			order: -1;
			flex: 1 0 100%;
			margin-bottom: .5rem;
		}
		&:empty {
			display: none;
		}
	}
	.entry-sub-meta, .archive-description {
		margin-top: var(--post-meta-margin);
		order: 3;
		.share-options {
			order: 10;
			flex: 1 0 100%;
			margin-top: .5rem;
		}
		&:empty {
			display: none;
		}
	}
	.excerpt-entry-super-meta {
		margin-bottom: var(--post-meta-margin);
		order: 0;
		&:empty {
			display: none;
		}
	}
	.excerpt-entry-sub-meta {
		margin-top: var(--post-meta-margin);
		order: 10;
		&:empty {
			display: none;
		}
	}
}

.page-header {
	&.bt_bb_parallax {
		background-size: cover;
	}
	body:not(.default-headline-overlay-dark-none) & {
		&[style*="background-image"] {
			&:before {
				content: ' ';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 0;
			}
		}
		.page-header-inner {
			position: relative;
			z-index: 1;
		}
	}
	@each $opacity in 10,20,30,40,50,60,70,80,90 {
		.default-headline-overlay-dark-#{$opacity} &:before {
			background-color: black;
			opacity: $opacity / 100;
		}
		.default-headline-overlay-light-#{$opacity} &:before {
			background-color: white;
			opacity: $opacity / 100;
		}
	}

	/* Alignment */
	.default-headline-alignment-left & {
		.page-header-inner {
			text-align: left;
		}
	}
	.default-headline-alignment-center & {
		.page-header-inner {
			text-align: center;
			.entry-meta {
				margin-right: auto;
				margin-left: auto;
			}
		}
	}
	.default-headline-alignment-right & {
		.page-header-inner {
			text-align: right;
			.entry-meta {
				margin-left: auto;
			}
		}
	}
}

/* Entry header */
.entry-header .entry-title {
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

@mixin mixin-headline-size($size) {
	.sidebar-headline-size-#{$size} .widget-area .sidebar-box h2,
	.sidebar-headline-size-#{$size} .widget-area .sidebar-box h3,
	.sidebar-headline-size-#{$size} .widget-area .sidebar-box h4,
	.default-headline-size-#{$size} .page-header .page-title, 
	.blog-list-headline-size-#{$size}.blog .type-post .entry-header .entry-title,
	.blog-list-headline-size-#{$size}.archive .type-post .entry-header .entry-title,
	.blog-single-headline-size-#{$size}.single-post .entry-header .entry-title,
	.pf-list-headline-size-#{$size} .portfolio .entry-header .entry-title,
	.pf-single-headline-size-#{$size}.single-portfolio .entry-header .entry-title,
	.search-list-headline-size-#{$size}.search article .entry-header .entry-title,
	.shop-list-headline-size-#{$size}.woocommerce .site-content ul.products li.product .woocommerce-loop-product__title,
	.shop-list-headline-size-#{$size}.woocommerce-page .site-content ul.products li.product .woocommerce-loop-product__title,
	.shop-list-headline-size-#{$size}.post-type-archive-product .site-content ul.products li.product .woocommerce-loop-product__title,
	.shop-single-headline-size-#{$size}.woocommerce .product .entry-header .page-title,
	.shop-single-headline-size-#{$size}.woocommerce-page .product .entry-header .page-title,
	.shop-list-headline-size-#{$size} .woocommerce.quick-sale ul.products li.product .woocommerce-loop-product__title,
	.blog-single-headline-size-#{$size} .comments-area .comments-title {
		font-size: var(--title-size-#{$size}); 
	}
	.default-headline-size-#{$size} .page-header .entry-meta, 
	.default-headline-size-#{$size} .page-header .excerpt, 
	.blog-list-headline-size-#{$size}.blog .type-post .entry-header .entry-meta,
	.blog-list-headline-size-#{$size}.archive .type-post .entry-header .entry-meta,
	.blog-single-headline-size-#{$size}.single-post .entry-header .entry-meta,
	.pf-list-headline-size-#{$size} .portfolio .entry-header .entry-meta,
	.pf-single-headline-size-#{$size}.single-portfolio .entry-header .entry-meta,
	.search-list-headline-size-#{$size} .search .entry-header .entry-meta,
	.shop-single-headline-size-#{$size}.woocommerce .product .entry-header .entry-meta,
	.shop-single-headline-size-#{$size}.woocommerce-page .product .entry-header .entry-meta {
		font-size: var(--title-subtitle-size-#{$size}); 
	}
	.woocommerce.shop-single-headline-size-#{$size} .woocommerce-Tabs-panel h2,
	.woocommerce.shop-single-headline-size-#{$size} .upsells.products h2,
	.woocommerce.shop-single-headline-size-#{$size} .related.products h2,
	.blog-single-headline-size-#{$size} .comments-area .comment-reply-title {
		font-size: calc( var(--title-size-decreaser)*var(--title-size-#{$size}) );
	}
}

$headline-sizes: extrasmall, small, normal, medium, large, extralarge, huge;

@each $headline-size in $headline-sizes {
  @include mixin-headline-size($headline-size);
}

/* 404 page */
.error-404 {
	padding-top:6em;
	padding-bottom: 6em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


/* Navigation */
.comment-navigation,
.post-navigation {
	margin: 0 0 var(--post-half-margin);
	.nav-links {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		.nav-previous, .nav-next {
			margin: 0;
			flex: 1 0 50%;
			.nav-inner {
				display: flex;
				align-items: center;
				color: inherit;
				text-decoration: none;
				min-height: var(--nav-links-image-size);
			}
			.nav-image {
				flex: 0 0 var(--nav-links-image-size);
				height: var(--nav-links-image-size);
				object-fit: cover;
				margin: 0 1em 0 0;
				overflow: hidden;
				.button-shape-square & {
					border-radius: 0;
				}
				.button-shape-rounded & {
					border-radius: var(--soft-rounded);
				}
				.button-shape-round & {
					border-radius: var(--hard-rounded);
				}
				.rtl & {
					margin: 0 0 0 1em;
				}
			}
			.nav-inner-post-without-image .nav-image {
				display: none;
			}
			.nav-text {
				flex: 1 1 auto;
				min-width: 0%;
				.nav-supertitle {
					font-size: var(--nav-links-supertitle-size);
					font-family: var(--supertitle-font);
					width: 100%;
					display: block;
				}
				.nav-title {
					font-size: var(--nav-links-post-title-size);
					font-family: var(--heading-font);
					font-weight: var(--heading-font-weight);
					font-style: var(--heading-font-style);
					transition: color 200ms ease;
					width: 100%;
					display: block;
				}
				.nav-date {
					font-family: var(--subtitle-font);
					width: 100%;
					display: block;
				}
			}
		}
		.nav-next .nav-inner {
			flex-direction: row-reverse;
			text-align: right;
			.rtl & {
				text-align: left;
			}
			.nav-image {
				margin: 0 0 0 1em;
				.rtl & {
					margin: 0 1em 0 0;
				}
			}
		}
	}
}

/* Boxed pages */
body[class*="content-width-boxed"] {
	.site .site-content,
	.site-footer .widget-area  {
		margin-left: auto;
		margin-right: auto;
		position: relative;
		padding-left: var(--content-padding);
		padding-right: var(--content-padding);
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

$page-width: 1200, 1400, 1600, 1800;

@each $width in $page-width {
	.content-width-boxed-#{$width} {
		.site .site-content,
		.site-footer .widget-area {
			max-width: calc(#{$width}px + var(--content-padding)*2);
		}
	}
}

@media (max-width: 768px) {
	.post-navigation {
		.nav-links {
			.nav-previous, .nav-next {
				flex: 1 0 100%;
			}
		}
	}
}


