/* Global Bold Themes Framework CSS Variables 
--------------------------------------------------------------------------------------------------------------------*/

body {
	--page-background-image: none;
	--accent-color: red;
	--alternate-color: blue;
	--dark-color: #191919;
	--light-color: #ffffff;
	--focus-color: red;
	--primary-07-color: rgba(var(--page-primary-color-rgb), .07);
	--secondary-07-color: rgba(var(--page-secondary-color-rgb), .07);
	--transparent-color: rgba(255,255,255,0);
	--page-horizontal-margin: 0px;
	--page-vertical-margin: 0px;
	--sidebar-width: 25%;
	--sidebar-gap: 4em;
	--content-padding: 20px;									/* header padding + bb boxed section fix */ 
	--body-font: Arial, Verdana;
	--heading-font: inherit;
	--heading-font-weight: initial;
	--supertitle-font: inherit;									/* supertitle font */
	--subtitle-font: inherit;									/* subtitle font */
	--button-font: inherit;
	--menu-font: inherit;
	
	/* Title sizes */
	--title-size-extrasmall: 1em;
	--title-size-small: 1.5em;
	--title-size-medium: 2em;
	--title-size-normal: 2.5em;
	--title-size-large: 3em;
	--title-size-extralarge: 3.5em;
	--title-size-huge: 4em;
	--title-size-increaser: 1.25;								/* increase titles of the list groups */
	--title-size-decreaser: 0.8;								/* decreace subtitles */

	/* Supertitle / subtitle sizes */
	--title-subtitle-size-extrasmall: .75em;
	--title-subtitle-size-small: .875em;
	--title-subtitle-size-medium: 1em;
	--title-subtitle-size-normal: 1em;
	--title-subtitle-size-large: 1.125em;
	--title-subtitle-size-extralarge: 1.25em;
	--title-subtitle-size-huge: 1.375em;

	/* Letter spacing */
	--heading-letter-spacing: 0px;
	--supertitle-letter-spacing: 0px;
	--subtitle-letter-spacing: 0px;
	--button-letter-spacing: 0px;
	
	
	/* Typography options */
	--default-bottom-margin: 1.5em;
	
	/* Sticky options */
	--site-header-top-bar-sticky-display: none;					/* Use: flex/none; */
	
	/* Responsive trigger options */
	--responsive-trigger-size: 30px;							/* Size of the responsive trigger, width + height */
	--responsive-menu-padding: 10px;							/* Responsive manu padding, top + bottom */
	--responsive-trigger-thickness: 1px;						/* Thickness of the menu trigger */
	--responsive-trigger-line-spacing: 5px;						/* Top and bottom margin on trigger line to separate them */
	--responsive-menu-shadow-off: 0 0 0 rgba(var(--page-primary-color-rgb), 0);
	--responsive-menu-shadow-left: 0 10px 30px rgba(var(--page-primary-color-rgb), .1);
	--responsive-menu-shadow-right: 0 -10px 30px rgba(var(--page-primary-color-rgb), .1);

	/* Desktop menu options */
	--topbar-height: 30px;										/* Height of the desktop top bar */
	--min-header-height: 50px;									/* Minimum height for the header, so users don't screw up the header */
	--min-header-sticky-height: 50px;							/* Minimum height for the sticky header */
	--below-logo-menu-height: 60px;								/* Height of the menu when below logo */
	--menu-font-size: 15px;										/* Font size for the main menu */
	--desktop-menu-selected-line-width: 100%;					/* Width of the selected line on main menu */
	--desktop-menu-selected-line-thickness: 2px;				/* Thickness of the same line */
	--desktop-submenu-selected-line-thickness: 2px;				/* Thickness of the submenu line, width is calculated based on the padding */
	
	/* Responsive menu options */
	--responsive-menu-max-width: 290px;							/* Maximum width for responsive menu, not including fullscreen */
	--responsive-menu-items-padding: .75rem;					/* Top and bottom padding for responsive menu items */
	--responsive-menu-subitem-spacing: 20px;					/* Left (or right in RTL mode) spacing for 2nd, 3rd, etc levels in menu */
	
	/* Desktop first level menu options */
	--desktop-menu-gap: 40px;									/* Gap between items in first level desktop menu */
	--submenu-width: 250px;										/* Default width of desktop dropdown items */

	/* Second level menu options */
	--submenu-side-padding: 1em;								/* Padding to the left and the right of the items in submenu */
	--submenu-top-bottom-padding: .5em;							/* Top and bottom padding of the first and last item in submenu */
	--submenu-item-top-bottom-padding: .5rem;					/* Top and bottom padding of link submenu items */
	--submenu-shadow: 0 10px 10px -5px rgba(var(--page-primary-color-rgb), .2);			/* Submenu shadown on desktop menu */

	/* Subtoggle options */
	--subtoggler-size: 10px;									/* Size of subtoggler for touch devices */
	--subtoggler-thickness: 2px;								/* Thickness of the subtoggler arrow - it's not a font! */

	/* Button shape */
	--soft-rounded: 5px;										/* Soft rounded border radius */
	--hard-rounded: 50px;										/* Hard rounded border radius, used for forms, icons, etc */
	--hard-rounded-field: 25px;									/* Hard rounded border radius for gallery */
	--hard-rounded-gallery: 12px;
	
	/* Widgets */
	--widgets-inner-spacing: 1em;								/* Spacing between widgets in sidebar */
	--widgets-service-spacing-header: 1em;						/* Spacing between service widgets in the header */
	--widgets-icon-spacing-header: 1em;							/* Spacing between icon widgets in the header */
	--widgets-button-spacing-header: 1em;						/* Spacing between button widgets in the header */

	/* Preloader */
	--preloader-logo-max-width: 300px;							/* Preloader logo max width */
	--preloader-background-opacity: 0.95;						/* Preloader background opacity */

	/* Default headline thickness */
	--page-header-thin-top: 1em;								/* Top padding for thin page header */
	--page-header-thin-bottom: 1em;								/* Bottom padding for thin page header */
	--page-header-regular-top: 3em;								/* Top padding for regular page header */
	--page-header-regular-bottom: 3em;							/* Bottom padding for regular page header */
	--page-header-thick-top: 5em;								/* Top padding for thick page header */
	--page-header-thick-bottom: 5em;							/* Bottom padding for thick page header */

	/* Post */
	--post-margin-bottom: 4em;									/* Margin bottom for posts, blog  and portfolio */
	--post-margin-top: 4em;										/* Margin top for posts, blog  and portfolio */
	--post-inner-spacing: 2em;									/* Spacing between posts */
	--post-half-margin: 1rem;									/* Half margin value for posts, blog  and portfolio */
	--post-meta-margin: 0.5rem;									/* Meta value margin, when you need to space out share and continue reading */
	--post-header-content-margin: 0.5rem;						/* Margin when you need to separate post title and content */
	--columns-list-width-media: 60%;							/* Article media width in columns list */
	--columns-list-horizontal-gap: 1em;							/* Horizontal gap betweem media and content in columns view */
	--portfolio-meta-width: 20%;								/* Article content width in columns list */
	--post-read-more-margin: 2em;								/* Spacing between read more, share and inner content */
	--post-paging-arrow-size: 3rem;								/* Font size of the paging arrow */
	--post-paging-arrow-margin: .25em;							/* Margin between arrow and text */
	--post-image-gallery-overlay: rgb(0 0 0 / 90%);				/* Background color for gallery overlay */
	--post-footer-meta-spacing: 2em;							/* Padding and margin for entry meta on single post / portfolio */
	--pagination-inner-spacing: 3em;							/* Spacing for pagination after the posts */
	--share-text-display: flex;									/* Swap between flex and none to show or hide SHARE text on share options feature */

	/* Nav links */
	--nav-links-image-size: 6rem;								/* Image size for previous / next */
	--nav-links-supertitle-size: .9rem;							/* Font size for supertitle / subtitle in previous / next */
	--nav-links-post-title-size: 1.1rem;						/* Font size for post titles in previous / next */
	
	/* Comments */
	--comments-top-spacing: 4em;								/* Used for spacing between forms, comments and content */
	--comment-single-spacing: 2em;								/* Spacing between comments */
	--comment-avatar-padding: 1em;								/* Left (or RTL right) padding for avatar */
	--comment-avatar-size: 4em;									/* Image size for the avatar */
	--no-comments-padding: 2em;									/* All around padding for no comments paragraph */
	
	/* WooCommerce */
	--woocommerce: var(--accent-color);							/* Below is overriding WooCommerce variables, when they start using it */
	--wc-green: var(--accent-color);							/* WooCommerce green color */
	--wc-red: var(--accent-color);								/* WooCommerce red color */
	--wc-orange: var(--accent-color);							/* WooCommerce orange color */	
	--wc-blue: var(--accent-color);								/* WooCommerce blue color */
	--wc-primary: var(--accent-color);							/* WooCommerce primary / accent color */
	--wc-primary-text: var(--light-color);						/* WooCommerce text color */
	--wc-secondary: var(--alternate-color);						/* WooCommerce secondary / alternate color */
	--wc-secondary-text: var(--light-color);					/* WooCommerce secondary text color */
	--wc-highlight: var(--accent-color);						/* WooCommerce highlight color */
	--wc-highligh-text: var(--light-color);						/* WooCommerce highlight text color */
	--wc-content-bg: var(--page-background-color, var(--page-secondary-color));	/* Background color used for product boxes, to inherit page color */
	--wc-subtext: var(--page-text-color, var(--page-primary-color));			/* WooCommerce subtext color */
	
	/* BT WooCommerce variables */
	--woo-message-padding: 1em 2em;								/* All around padding for WooCommerce messages */
	--woo-product-x-spacing: 1em;								/* Left and right spacing between elements */
	--woo-product-y-spacing: 2em;								/* Spacing at the end of the product list */
	--woo-product-content-padding: 1.5em;						/* Padding for content in products, excluding images */
	--woo-product-background: transparent;						/* Background for product */
	--woo-product-hover-shadow: 0 10px 10px -5px rgba(var(--page-primary-color-rgb), .2);/* Box shadow for single product hover effect */
	--woo-product-border-z-index: 1;							/* Default value for z index on the product border, to see whether it's above or below the product image */
	--woo-image-gallery-columns-gap: 1em;						/* Gap for product images on gallery on product details */
	--woo-paging-arrow-size: 3rem;								/* Font size for paging arrows, use REM */
	--woo-cart-widget-width: 300px;								/* Width of the Woo commerce shopping cart widget when used in header */
	--woo-cart-widget-padding: 1em;								/* All around padding for the cart widget when used in header */
	--woo-cart-widget-shadow: 0 10px 10px -5px rgba(var(--page-primary-color-rgb), .2);	/* Shadow forcart widget when used in desktop header */
	--woo-cart-widget-icon: "\f290";							/* Icon for cart widget */
	--woo-cart-widget-icon-font: FontAwesome6Solid;				/* Font family for it */
	--woo-cart-widget-icon-size: 2em;							/* Size of cart widget icon */
	--woo-cart-widget-icon-size-belowmenu: 1.5em;				/* Size of cart widget icon but in belowmenu */
	--woo-cart-widget-icon-size-topbar: 1.5em;					/* Size of cart widget icon but in topbar */
	--woo-cart-widget-icon-size-resptopbar: 2em;				/* Size of cart widget icon but in responsive topbar */
	--woo-cart-widget-icon-size-respmenu: 2em;					/* Size of cart widget icon but in responsive menu */
	--woo-cart-widget-remove-icon: "\f00d";						/* Remove from cart icon */
	--woo-cart-widget-remove-icon-font: FontAwesome6Solid;		/* Font family for it */
	--woo-cart-widget-image-size: 3em;							/* Size of the image in the cart widget */
	--woo-cart-image-size: 3em;									/* Size of the image in the cart */
	--woo-price-slider-height: .75em;							/* Height of the price filter track */
	--woo-price-slider-handle-size: 1.25em;						/* Size of the price filter handle */
	--woo-forms-padding: 1.5em 2em;								/* All around padding for login, register and coupon forms */
	--woo-gallery-overlay: rgb(0 0 0 / 90%);					/* Background color for gallery overlay */
	--woo-gallery-previous-next-icon-font: FontAwesome6Solid;	/* Font family for previous / next icons in WooCommerce gallery */
	--woo-gallery-previous-next-icon-size: 2em;					/* Font size for these icons */
	--woo-gallery-next-icon: "\f105";							/* Next icon */
	--woo-gallery-previous-icon: "\f104";						/* Previous icon */
	--woo-gallery-topbar-icon-font: FontAwesome6Solid;			/* Top bar icon family in WooCommerce gallery */
	--woo-gallery-topbar-icon-font-size: 1.5em;					/* Font size for these icons */
	--woo-gallery-topbar-close: "\f00d";						/* Close icon */
	--woo-gallery-topbar-share: "\f1e0";						/* Share icon */
	--woo-gallery-topbar-fullscreen: "\f065";					/* Fullscreen icon */
	--woo-gallery-topbar-zoom: "\f00e";							/* Zoom icon */
	--woo-cart-widget-icon-close: "\f00d";						/* Cart widget close icon for responsive menu */
	--woo-cart-widget-icon-close-font: FontAwesome6Solid;		/* Cart widget icon font */
	--woo-cart-widget-icon-close-size: 2rem;					/* Cart widget close size */
	--woo-cart-widget-responsive-padding: 2em;					/* Cart widget padding */
	--woo-sale-tag-background: var(--accent-color);				/* Background color for sale tag */
	--woo-icons-added-to-cart: "\f055";							/* Added to cart icon */
	--woo-icons-added-to-cart-font: FontAwesome6Solid;			/* Font for it */
	--woo-icons-show-password: "\f06e";							/* Show password icon */
	--woo-icons-show-password-on: "\f070";						/* Shown password icon */
	--woo-icons-show-password-font: FontAwesome6Solid;			/* Font for it */
	--woo-icons-stars: "\f005\f005\f005\f005\f005";				/* Empty stars on products */
	--woo-icons-stars-single: "\f005";							/* Empty single star on products */
	--woo-icons-stars-font: FontAwesome6Regular;				/* Font for it */
	--woo-icons-stars-filled: "\f005\f005\f005\f005\f005";		/* Filled stars on products */
	--woo-icons-stars-filled-single: "\f005";					/* Filled single star on products */
	--woo-icons-stars-filled-font: FontAwesome6Solid;			/* Font for it */
	--woo-icons-lost-password: "\f084";							/* Lost password icon */
	--woo-icons-lost-password-font: FontAwesome6Solid;			/* Font for it */
	--woo-icons-messages-font: FontAwesome6Solid;					/* Font for General icon */
	--woo-icons-error: "\f071";										/* Error icon in messages */
	--woo-icons-info: "\f05a";										/* Info icon in messages */
	--woo-icons-message: "\f058";	
	
	/* Portfolio */
	--portfolio-columns-gap: 2em;								/* Gap between columns and rows on single portfolio */
	--portfolio-columns-meta-max-width: 20%;					/* Width of meta content in Standard view */
	--portfolio-columns-meta-min-width: 200px;					/* Min width of meta content in Standard view */
	--portfolio-columns-1-media-width: 60%;						/* Width for the media in columns 1 */
	--portfolio-columns-2-media-width: 70%;						/* Width for the media in columns 2 */
	--portfolio-columns-3-media-width: 70%;						/* Width for the media in columns 3 */
	
	/* Post grid */
	--post-grid-padding: 1.5em;									/* Padding for post grid content */
	
	/* Gallery grid gaps */
	--grid-gallery-gap-extra-small: .25em;						/* Extra small grid gallery gap */
	--grid-gallery-gap-small: .5em;								/* Small grid gallery gap */
	--grid-gallery-gap-normal: 1em;								/* Normal grid gallery gap */
	--grid-gallery-gap-large: 2em;								/* Large grid gallery gap */
	
	/* Post & Portfolio gallery grid gap */
	--post-pf-grid-gallery-gap: 1em;							/* Set a default gallery grid gap on post and portfolio */
	--post-pf-grid-gallery-radius: 0;							/* Set a default grid gallery border radius on post and portfolio */
	--post-pf-grid-gap-small: .5em;								/* Small post / portflio grid gallery gap */
	--post-pf-grid-gap-normal: 1em;								/* Normal post / portflio grid gallery gap */
	--post-pf-grid-gap-large: 2em;								/* Large post / portflio grid gallery gap */
	--post-pf-grid-title-lines: 2;								/* Number of lines for post / portfolio title */
	--post-pf-grid-excerpt-lines: 3;							/* Number of lines for post / portfolio excerpt */

	/* Latest posts */
	--lastest-posts-gap-small: .5em;							/* Small lastest posts gap */
	--lastest-posts-gap-normal: 1em;							/* Normal lastest posts gap */
	--lastest-posts-gap-large: 2em;								/* Large lastest posts gap */
	--latest-posts-content-padding: 1.5em;						/* Padding for latest posts content */
	--latest-posts-date-icon: "\f017";							/* Latest posts date icon */
	--latest-posts-date-icon-font: FontAwesome6Regular;			/* Lastest posts date icon font family */
	--latest-posts-author-icon: "\f007";						/* Lastest posts author icon */
	--latest-posts-author-icon-font: FontAwesome6Regular;		/* Lastest posts author icon font family */
	--latest-posts-comments-icon: "\f075";						/* Latest posts comments icon */
	--latest-posts-comments-icon-font: FontAwesome6Regular;		/* Lastest posts comments icon font family */
	--latest-posts-category-icon: "\f02e";						/* Latest posts category icon */
	--latest-posts-category-icon-font: FontAwesome6Regular;		/* Lastest posts category icon font family */

	/* Footer */
	--footer-widgets-top-padding: 4em;							/* Footer widget area top padding */
	--footer-widgets-bottom-padding: 4em;						/* Footer widget area bottom padding */
	--footer-widgets-gap: 20px;									/* Footer widget area bottom padding */
	
	/* Search widget */
	--search-widget-desktop-width: 80%;
	--search-widget-desktop-max-width: 800px;
	--search-widget-icon-open: "\f002";							/* Search widget icon */
	--search-widget-icon-open-font: FontAwesome6Solid;			/* Search widget icon font */
	--search-widget-icon-open-size: 2em;						/* Search widget icon size */
	--search-widget-icon-open-size-belowmenu: 1.5em;			/* Size of search widget icon but in belowmenu */
	--search-widget-icon-open-size-topbar: 1.5em;				/* Size of search widget icon but in topbar */
	--search-widget-icon-open-size-resptopbar: 2em;				/* Size of search widget icon but in responsive topbar */
	--search-widget-icon-open-size-respmenu: 2em;				/* Size of search widget icon but in responsive menu */
	--search-widget-icon-close: "\f00d";						/* Search widget close icon */
	--search-widget-icon-close-font: FontAwesome6Solid;			/* Search widget icon font */
	--search-widget-icon-close-size: 2rem;						/* Search widget close size */
	--search-widget-icon-search: "\f002";						/* Search widget icon in search field */
	--search-widget-icon-search-font: FontAwesome6Solid;		/* Search widget icon font */
	
	/* MFP gallery icons */
	--mfp-gallery-close-icon: "\f00d";							/* Grid gallery close icon */
	--mfp-gallery-close-icon-font: FontAwesome6Solid;			/* Grid gallery close icon font */
	--mfp-gallery-close-icon-size: 1.5rem;						/* Close icon size */
	--mfp-gallery-previous-next-icon-font: FontAwesome6Solid;	/* Grid gallery Previous / Next icon font */
	--mfp-gallery-previous-next-icon-size: 2em;					/* Grid gallery icons size */
	--mfp-gallery-next-icon: "\f105";							/* Grid gallery next icon */
	--mfp-gallery-previous-icon: "\f104";						/* Grid gallery previous icon */
	
	/* Time widget */
	--time-widget-icon-size: 2em;								/* Search widget icon size */
	--time-widget-icon-size-belowmenu: 1.5em;					/* Size of search widget icon but in belowmenu */
	--time-widget-icon-size-topbar: 1.5em;						/* Size of search widget icon but in topbar */
	--time-widget-icon-size-resptopbar: 2em;					/* Size of search widget icon but in responsive topbar */
	--time-widget-icon-size-respmenu: 2em;						/* Size of search widget icon but in responsive menu */
	
	/* Contact form 7 */
	--cf7-date-icon: "\f133";									/* Icon for input type date field */
	--cf7-date-icon-font: FontAwesome6Regular;					/* Font family for the icon */
	
	/* wp admin bar positions and heights */
	--wp-admbar-mobile: 46px;									/* WP admin bar thickness on mobile */
	--wp-admbar-desktop: 30px;									/* WP admin bar thickness on desktop */
	
	
}

